/* ここから下に記載していく */
@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: 400;
    src: url("../font/web/NotoSansCJKjp.woff2") format("woff2"),
         url("../font/web/NotoSansCJKjp.otf") format("opentype");
  }

html {
    font-size: 62.5%;
    /* 16px x 62.5% = 10px */
    font-size: 1.6rem;
    color: #62768f;
}

.header{
    margin: 20px 0 5px 30px;
    color: #2e2e2e;
}

/* エリア */
/* エリア全体設定 */
.speech_area, .main, .btn_area{
    width: 900px;
    background-color: black;
    margin: auto;
}

/* 吹き出しエリア */
.speech_area{
    width: 900px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #2e2e2e;
    background-image: url(../img/image_speech.png);
}
.partner_speech_area{
    width: 50%;
    /* text-align: center; */
    /* 上 | 右 | 下 | 左 */
    margin: 0 0 0 25px;
    color: #000000;
}
.user_speech_area{
    width: 50%;
    /* text-align: center; */
    margin: 0 0 0 25px;
    color: #000000;
}
.speech__text {
    display: inline-block;
    width: 21.5ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 3s steps(14);
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }



/* メインエリア */
.main{
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #2e2e2e;
}
.partner_main{
    width: 50%;
    text-align: center;
    color: #fff;
}
.user_main{
    position:relative;
    width: 50%;
    text-align: center;
    color: #fff;
}

/* 結果表示 */
.result{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 350px;
    height: 50px;
    /* margin: auto; */
    background-color: #2e2e2e;
}

.result__text{
    /* 上 | 右 | 下 | 左 */
    margin:10px 0 0 0  ;  /* ←あとでちょうせいする */
    /* margin: auto; */
}

/* ボタンエリア */
.btn_area{
    width: 900px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #2e2e2e;
}
.partner_btn_area{
    width: 50%;
    text-align: center;
    color: #fff;
    background-color: #b3b3b3;
}
.user_btn_area{
    width: 50%;
    color: #fff;
}

/* ボタンの見た目 */
.user_btns{
    display: flex;
    align-items: center;
    width:300px;
    margin: auto;
}



.btn{
    width: 80px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #848484;
    
}
.btn__text{
    display: block;
    text-decoration: none;
}


